# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
flutter-run

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Local run script (contient les cles Supabase)
run.sh
